.emailPage{
    padding: 9% 0;
    display: flex;
    min-height: 18rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   .emailForm{
    width: 80%;
    max-width: 400px;
   }
}