.otpPage {
  padding: 7% 0;
  min-height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .otpForm {
    width: 80%;
    max-width: 400px;
    .title {
      font-size: 15px;
      font-weight: 600;
      color: #817f7f;
      .time {
        color: #6743c1;
      }
      .link {
        color: #6743c1;
        cursor: pointer;
      }
    }
  }
}
