.loginBg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../shared/media/imgs/login-bg.png);
  background-size: cover;
  .form {
    background-color: #fff;
    margin: 5px;
    width: 600px;
    padding: 32px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: white;
    width: 30rem;
    box-shadow: 0px 5px 10px rgb(82, 82, 82);
    .titleLogo {
      color: #6643c2;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // justify-content: center;
      margin: 0;
      img {
        width: 40px;
      }
    }
    .title {
      font-size: 35px;
      color: #6643c2;
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
    .forgot {
      display: flex;
      justify-content: flex-end;
      color: #6643c2;
    }
  }
}
