.forgotPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../shared/media/imgs/login-bg.png);
    background-size: cover;
    .forgotContent{
    width:40rem;
    margin: 5px;
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(82, 82, 82);

}
}